.jumbotron{
    background-image: url(../images/work7.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    
    
}
h1{
    text-align: center;
    color: darkblue;
}
h2{
    font-style: italic;
    color: darkgreen;
    text-align: center;
}
.benter{
border: solid blue;       
}
#myForm{
    background-color: grey;
}
body{
    border:solid black;
    background-color: aqua;
}
.col-md-3>img{
    height: 300px;
    width: 200px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 50%;
}

