.jumbotron{
    background-image: url(../images/work7.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    
    
}
h1{
    text-align: center;
    color: darkblue;
}
h2{
    font-style: italic;
    color: darkgreen;
    text-align: center;
}
.benter{
border: solid blue;    
    
}

.images>img{
    height: 300;
    width: 300;
}
#myForm{
    background-color: grey;
}
body{
    border:solid black;
    background-color: aqua;
}
